# OS junk
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/

# Ignore local datasets but keep folder structure
datasets/raw/*
!datasets/raw/.gitkeep
datasets/processed/*
!datasets/processed/.gitkeep

# Temporary outputs and logs
*.tmp
*.temp
*.log
*.out
*.bak
*.swp
